section.about {
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
	justify-content: space-between;
	padding-top: 30px;
}

section h2.about {
	color: var(--clr-yellow);
	font-family: "Markazi Text", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 50px;
	margin: 0;
}

section h3.about {
	color: var(--clr-dark);
	font-family: "Markazi Text", sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	margin: 0;
}

article.about {
	display: flex;
	flex-direction: column;
	padding: 0px;
}

p.about {
	font-family: "Karla", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--clr-dark);
}

img.about {
	height: 340px;
	border-radius: 16px;
	border: 0.1rem solid grey;
	box-shadow: 0px 2px 4px rgb(84, 85, 85);
	width: 49%;
}

div.about {
	display: flex;
}

/* xs */
@media (max-width: 475px) {
	section.about {
		flex-direction: column;
	}

	div.container.about {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img.about {
		width: 100%;
	}
}

/* sm */
@media (max-width: 640px) {
	section.about {
		flex-direction: column;
	}

	div.about {
		flex-direction: column;
	}

	img.about {
		width: 100%;
	}
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (max-width: 1024px) {
	section.about {
		flex-direction: column;
	}

	div.about {
		flex-direction: row;
		align-items: center;
	}

	img.about {
		margin-bottom: 5px;
	}
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
