<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Bare Bones Layout</title>
		<meta name="description" content="A brief description" />
		<meta name="author" content="your site name" />

		<!-- Open Graph Protocol -->
		<!-- 
        og:type: the “type” of the content being described. Some type examples are article, book, and profile. See the official og:type documentation for more.
        og:title: the title of the page. This could be the <title> of your page, or you could tailor it specifically for link sharing.
        og:description: a short description of the page. There is no specified character limit, but Twitter’s limit of 200 characters for this purpose is a good guideline.
        og:url: the permanent (canonical) URL of the page.
        og:image: an image to associate with the page.
        -->

		<!--
        <meta property="og:title" content="A brief description">
        <meta property="og:type" content="website">
        <meta property="og:image" content="image.png"> 
        <meta property="og:url" content="http://www.mysite">

        <meta property="og:description" content="A brief description"> 
        <meta property="og:locale" content="en_US"> change locale
        <meta property="og:site_name" content="site name">       
        -->


		<!-- Twitter card metadata -->
		<!-- 
        twitter:card: this tag specifies the type of Twitter Card that should be displayed. The summary_large_image type displays a short summary with a large image preview.
        twitter:site: your Twitter username, or your site or company’s username.
        twitter:title: the title you’d like used in the card. This could match what you’ve put in your <title> tags, but it doesn’t have to.
        twitter:description: a brief description of the page that will be displayed under the title. This should be a maximum of 200 characters, and may be truncated even further when displayed.
        twitter:image: an image to show. Most standard image formats (JPG, PNG, GIF) are acceptable, but it must be less than 5MB in size. The image may be automatically cropped to display in differently sized cards, so it is a good idea to have the main focal point in the center.
        -->

		<!-- 
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@digitalocean" />
        <meta name="twitter:title" content="Sammy the Shark" />
        <meta name="twitter:description" content="Senior Selachimorpha at DigitalOcean" />
        <meta name="twitter:image" content="https://html.sammy-codes.com/images/large-profile.jpg" />
        <meta name="twitter:image:alt" content="Alt text for image">
        -->


        <!-- Social Media analytics -->
        <!-- 
        <meta property="fb:app_id" content="your_app_id" />
        <meta name="twitter:site" content="@website-username">
        -->


		<!-- 
        <link rel="icon" href="/favicon.ico" />
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> 
        -->


		<!-- Include your css file here -->
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body>
		<header>
			<!-- Add your website name or logo here -->
			<p>Header</p>
		</header>
		<nav>
			<!-- Add your website navigation here -->
		</nav>
		<main>
			<!-- Add your website content here -->
			<h1>Heading</h1>
		</main>
		<footer>
			<!-- Add copyright notices and other footer content here -->
			<p>Footer</p>
		</footer>

		<!-- Include your JavaScript files here -->
		<script src="js/script.js"></script>
	</body>
</html>
